# Node.js dependencies
node_modules/

# Folders
BlogFrontEnd/
build/

# Settings
setupProxy.js

# Environment variables
.env
.gitignore

# Docker files
.dockerignore
Dockerfile
gitignore.htm
nginx.conf
node.Dockerfile
static.Dockerfile