:root {
    --dark-color: #333;
    --light-color: #FFFFFF;
    --secondary-color: #1E2834;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

/* Menu */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    background-color: rgba(255, 255, 255, 0.2);

    box-shadow: 0px 4px 70px 0px #1E283414;
}

.ul-nav {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.li-nav {
    margin: 0 15px;
}

.ul-nav ul {
    display: none;
    position: absolute;
    background-color: var(--light-color);
    padding: 10px;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li a {
    color: var(--dark-color);
}

nav ul li:hover > a {
    color: var(--secondary-color);
}

.link-nav {
    text-decoration: none;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-size: 16px;
    transition: color 0.3s ease;
}

.submitBtn {
    color: #FFFFFF;
    background-color: #1E2834;
    box-shadow: 0px 4px 70px 0px #1E283414;
    border-radius: 8px;
    height: 30px;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

.icon {
    width: 148.5px;
    height: 24px;
}

.userSpanName {
    margin-left: 20px;
}
