:root {
    --dark-color: #333;
    --light-color: #FFFFFF;
    --secondary-color: rgba(228, 231, 236, 1);
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

.set-password-container {
    max-width: 400px;
    margin: 50px auto 0;
    padding: 20px;
    background-color: var(--light-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.set-password-container h2 {
    color: var(--dark-color);
    text-align: center;
}

.set-password-container form {
    display: flex;
    flex-direction: column;
}

.set-password-form label {
    margin-bottom: 8px;
    color: var(--dark-color);
    display: flex;
    align-items: center; /* Center the text vertically */
}


.set-password-form input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    max-width: 378px;
    width: 400px;
}

.set-password-form button {
    padding: 9.5px;
    background-color: var(--dark-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: auto; /* Set width to auto to match input field */
    margin-top: 8px; /* Add some space between input and button */
}


.set-password-form button:hover {
    background-color: rgb(128, 128, 128);
}
